/* for cousmt colors and cousmt class*/
:root {
  --main-color: #272b30;
  --color-text: #ffffff99;
  --color-text-second: #fff;
  --color-nav: #3a497b;
  --second-color: #32383e;
  --main-font:"Comfortaa", sans-serif;

}
.bg-main-color {
  background-color: var(--main-color);
}
.bg-second-color {
  background-color: var(--second-color);
}
.bg-nav-color {
  background-color: var(--color-nav);
}
.color-text-second{
  color: var(--color-text-second);
  font-weight: bold;
}
.text-color {
  color: var(--color-text);
  font-weight: bold;
}

body {
  font-family:var(--main-font);
  min-height: 100%;
  min-width: 100%;
  background-color: var(--main-color);
  color: var(--color-text);
  overflow: hidden;
}

/* img for header section  */
header img {
  max-height: 30vh;
  object-fit: cover;
}
/* nav bar */
.navbar {
  box-shadow: 0 0 10px rgb(0 0 0 / 0.7);
  padding: 10px 20px;
  margin-top: -30px;
}
.navbar h5 {
  font-family:var(--main-font);
  font-size: 20px;
}
.navbar ul li a {
  font-size: 12.5px;
  text-transform: uppercase;
  color: white;
}
.active {
  color: #09c !important;
  transition: color 0.5s;
}
.nav-link:focus,
.nav-link:hover {
  color: #09c !important;
}
.navbar div img.logo {
  max-width: 40px;
}
#searchInput:focus {
outline: none;
}

/* start of home section */
main section h3,
main section p,
.paragraph {
  font-size: 14px;

}
main section span {
  font-size: 12px;
}
.card-img-top {
  filter: blur();
}
.text-bg-card {
  color: #fff !important;
  background-color: rgba(13, 110, 253, var(--bs-bg-opacity, 1)) !important ;
}
.card {
  transition: all 0.5s;
  cursor: pointer;
  filter: grayscale(0.7);
  transition: transform 0.5s, filter 0.5s 0.1s;
}
.card:hover {
  transform: scale(1.05);
  filter: grayscale(0);
}

/* start of Details  section */
section.details h1 {
  font-family:var(--main-font);  font-size: 27.5px;
}
.btn-close:focus {
  outline: none;
  box-shadow: none;
}
section.details {
  background-color: #27282b;
  min-height: 100vh;
  cursor:context-menu;
}

/* for loadding page */
div.loading {
  position: fixed;
  z-index: 9999;
  inset: 0;
  background-color: #272b30e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.loading .loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: relative;
}
div.loading .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
